<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h1>Price Calculated.</h1>
	<h2>Your ordered a <%= select %> with a weight of <%= weight %> oz. for a price of $<%= totalPrice %></h2>

</body>
</html>